* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --color-one: #527792;
  --color-two: #f2cf1d;
  --color-three: #f2edd5;
  --color-four: #d91604;
  --color-five: #e85e1f;
  --color-six: #000000;
  --color-seven: #f0f0f0;
}
body {
  max-height: 100vh;
}
nav {
  position: fixed;
  display: flex;
  justify-content: center;
  height: 70px;
  width: 100vw;
}
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 900px;
}
h3 {
  margin-top: 0.2rem;
  width: 100px;
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none; 
  font-size: 0.6rem;
  color: var(--color-seven);
}
a:hover {
  cursor: pointer;
}
.logo {
  color: var(--color-seven);
  text-shadow: 0rem 2px 2rem var(--color-seven);
}
.logo-emj {
  font-size: 2rem;
}

section {
  height: 100vh;
  background-color: var(--color-six);
  overflow: hidden;
}

#bgImg {
  align-content: center;
  margin: 0 auto;
  z-index: -1;
  min-width: 100vw;
  min-height: 100vh;
}
#video {
  z-index: -1;
  min-width: 100vw;
  min-height: 100vh;
}

/*CALENDARIO DIV */
.calendar-div {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-around;
  left: 100px;
  bottom: 100px;

  width: 700px;
  height: 150px;
  background-color: var(--color-six);
  border-radius: 2px;
}
.calendar-p {
  width: 60%;
  color: var(--color-seven);
}
.h-line {
  height: 80%;
  width: 1px;
  background-color: var(--color-seven);
}
.calendar-ctn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: fit-content;
}
#calendar {
  text-align: center;
  height: 2rem;
  width: 150px;
  padding: 0.2rem;
  border-radius: 2px;
}
#submit {
  margin-top: 1rem;
  height: 2rem;
  background-color: var(--color-four);
  color: var(--color-three);
  border-radius: 2px;
}
#submit:hover {
  align-self: center;
  transition: 0.2s;
  width: 99.5%;  
  color: var(--color-seven);
  background-color: var(--color-five);
  cursor: pointer;
  
}

/*DESCRICÃO DA IMAGEM */
.img-p-ctn {
  max-height: 100vh;
  display: flex;
  align-items: flex-end;  
  position: absolute;
  bottom: 100px;
  right: 100px;
  width: 700px;
}
#imgTitle {
  max-height: 250px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-seven);
  text-shadow: -3px 2px #3d3d3d;
}
#img-p {
  text-align: justify;
  box-sizing: border-box;
  background-color: var(--color-six);
  color: var(--color-seven);
  border-radius: 2px;
  padding: 1rem;
  padding-left: 1.5rem;
  
}