* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 1630px) {
  .calendar-div {
    left: 50px;
    bottom: 100px;

    width: 550px;
    height: 120px;
  }
  .img-p-ctn {
    box-sizing: border-box;
    right: 50px;
    bottom: 100px;
    width: 550px;
    height: fit-content;
  }
  #img-p {
    box-sizing: border-box;
  }
}

@media (max-width: 1230px) {
  .calendar-div {
    flex-direction: column;
    box-sizing: border-box;
    padding: 1rem;
    width: 300px;
    height: fit-content;
    left: 30px;
    bottom: 30px;
  }
  .calendar-p {
    width: 100%;
  }
  .h-line {
    margin: 0.5rem auto;
    align-self: center;
    width: 100%;
    height: 1px;
  }
  .calendar-ctn {
    width: 100%;
  }
  #calendar {
    width: 97%;
  }
  .img-p-ctn {
    right: 30px;
    bottom: 30px;
  }
}
@media (max-width: 940px) {
  .calendar-div {
    bottom: 30px;
    width: 90%;
    right: 5%;
  }
  .calendar-p {
    text-align: justify;
  }
  .calendar-ctn {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  #calendar {
    width: 60%;
  }
  #submit {
    width: 30%;
    height: 2.2rem;
    margin-top: 0;
  }

  .img-p-ctn {
    box-sizing: border-box;
    bottom: 175px;
    width: 90%;
    left: 5%;
    height: fit-content;
  }
  #img-p {
    box-sizing: border-box;
    padding: 1rem;
  }
}
@media (max-width: 500px) {
  .img-p-ctn {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 90%;
    bottom: 200px;
  }
  .calendar-div {
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
@media (max-width: 450px) {
  .calendar-div {
    bottom: 0;
    width: 100%;
    height: 130px;
  }
  .img-p-ctn {
    flex-direction: column;
    bottom: 135px;
    width: 100%;
  }
  #imgTitle {
    box-sizing: border-box;
    padding-left: 1rem;
    writing-mode: initial;
    transform: initial;
  }
}
